.App {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
}
* {
  -webkit-overflow-scrolling: touch;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.blur_bg {
  filter: blur(0px) grayscale(0);
  transform: scale(1);
  animation: blur 0.8s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
@keyframes blur {
  from {
    filter: blur(0px);
    opacity: 1;
  }
  to {
    filter: blur(7px);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
