.username-match {
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	background-color: rgba(0,230,220,.6);
	border: 3px solid white;
	color: white;
}
