*{
	box-sizing:border-box;
}

.profile_pic{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin: auto;
	background-color: rgb(200,200,200);
	background-position: center;
	background-size: cover;
	border: 3px solid white;
	filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
}
.username{
	background-color: red;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	position: absolute;
	background-color: rgb(0,230,220);
	border: 3px solid white;
	color: white;
	left: 50%;
	transform: translateX(-50%);
	top: 150px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Futura";
}
.profile_pic_overlay{
	/*position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 0 0 50px 30px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 50px 60px rgba(0,0,0,0.2);
  filter:blur(5px);*/

}
.img_container{
	transform:translateY(-100px);

}
.buttons_grid{
	
	width: 100%;
	height: auto;
	bottom: 0px;
	grid-gap: 2px;
	text-align: center;
	margin: auto;
	position: absolute;
	overflow: hidden;
	padding: 0px;
	padding-bottom: 20px;

	
}
.buttons_grid>div{
	background:linear-gradient( rgb(255,40,230), rgb(255,30,230));
	width:120px;
	height: 35px;
	margin: auto;
	margin-top: 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);

	

}
.characters_used{
	font-family: "Futura";
	font-size: 45px;
	color: white;
	margin: 0;
	padding: 0;
}
.bio_text{
	height: 100px;
	text-align: center;
	font-size: 13px;
	width: 80%;
	padding-top: 23px;

	margin: auto;
	border-radius: 5px;
}

.characters_used_label{
	font-size: 10px;
	margin: auto;
	font-family: "Futura";
	margin: 0;
	padding: 0;
}
.extra_info{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-top: 20px;
}
.bio{
	text-align: center;
	font-family: "Futura";
	text-transform: uppercase;;
	font-weight: bold;
	color: white;
	transform: translateY(-60px);
	padding: 10px;
}
.profile_container{
	width: auto;
	height: 100vh;
	background:  linear-gradient(rgb(180,180,255) 10%,rgb(100,100,255));

	

}
.profile_info_wrap{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 70%;
	margin: auto;
	margin-top: 150px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
border-radius: 20px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;

background: linear-gradient(rgb(140,140,255) 10%,rgb(80,80,255));
}