//keyword icons
.lobby_div{

$keyword-bg-unselected: rgba(80,80,255,1);
$keyword-bg-selected: rgb(167, 79, 255);

$keywordIcon-bg-color: rgba(80,80,255,1);

//btn
$btn-like-bg: rgb(79,167,255);


;
.header{

}
//LOBBY
.lobby {
    width: 100vw;
    height: 100vh;
   
      background: white;
}


// GRID
.grid-container {
    width: 100%;
    margin: auto;
    text-align: center;
    
}


.grid-likes-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;

    height: 100vh;
    overflow: scroll;
    background-color: red;
    grid-gap:5px;
    width: 100%;

    background:linear-gradient(rgb(180,180,255) 10%,rgb(100,100,255));

 

    
}
.grid-likes-container>div{
    height: 150px;
}

.btn-section_ {
    
    font-family: "Futura";
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100%;

    .like-btn_ {
        border-radius: 0px;
        border: none;
        font-weight: bold;
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 2em;
        color: rgb(180,180,255);

        

    }
}

//KEY ICON

.keywordIcon {
    transition: all 150ms ease-in;
    border-radius: 0px;
    font-family: 'Futura';
    font-weight: 600;
    color: rgb(80,80,255);
    background: $keywordIcon-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8vw;
    padding: 5px;
}
.selectedTab {
      background: rgb(0,40,90);
    
}
.unselectedKW {
    color: white;
}
.selectedKW {
    color: white;
    text-shadow: 2px 3px 1px rgba(255,255,255,.5);
}
}