
$bg-login-form: #8C9EFF;
$bg-register-form: #82b1ff;

//containers
.login-container{
   background: linear-gradient(rgb(140,140,255) 10%,rgb(80,80,255));
   height: 100vh;
}

 
.register-container,
.username-container,
.bio-container,
.submit-container {
    height: 100vh;
    width: 100vw;
    background-color: $bg-login-form;
    position: relative;
}

.register-container,
.username-container,
.bio-container,
.submit-container{
    background-color: $bg-register-form;
}

.login-form-container, 
.register-form-container,
.username-form-container,
.bio-form-container,
.submit-form-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.email-input-container, 
.password-input-container,
.bio-input-container,
.username-input-container
{
    transition: opacity 500ms ease-in;
}

.input-box {
    background-color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    transition: border 1s ease-out;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    font-family: "Avenir";
    padding: 10px;
    color: rgba(0,0,0,0.8);
    font-size: 1.5em;
    text-transform: lowercase;
    &:focus {
       
        box-shadow: 0 7px 7px -7px rgb(200,200,200);
    }
}

@keyframes showErrorInput {
    from{
        border: 2px solid rgba(0,0,0,0.2);
    }
    to {
        border: 2px solid rgba(255, 0, 0, 0.5);
    }
}

.error-input {
    animation: showErrorInput;
    animation-duration: 1s;
    // border: 1px solid rgba(255, 0, 0, 0.5);
}

// debug
.Debug {
    margin-top: 20px;
} 

//headline 
.headline {
    
    height: 25vh;
    padding-top: 150px;
    display: flex;

    justify-content: center;
    h4{
        color: white;
        font-family: "Futura";
        font-size: 4em;
        font-weight: bold;
    }
}


@keyframes showError {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
//errors
.error-message-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 200px;
    font-family: "Avenir";
    font-style: italic;
    height: 20px;
}

.error-message {
    font-size: 1em;
    animation: showError;
    animation-duration: 1s;
}

//buttons
.Btn {

    border: 1px solid rgb(200,200,255);
    box-shadow: 0 7px 7px -7px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 5px 12px;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    color: rgb(200,200,255);
    width: 150px;
     &:focus {
        background-color: white !important;
        color: rgb(200,200,255);
        box-shadow: 0 7px 7px -7px rgb(200,200,200);
    }
}