* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Futura';
}
p {
}
.my_message_class_align {
  text-align: right;
}
.other_message_class_align {
  text-align: left;
}

.my_message_class_align .plus_characters {
  left: 0;
}
.other_message_class_align .plus_characters {
  right: 0;
}

.my_message_class_align .profile_pic {
  right: 0;
}
.other_message_class_align .profile_pic {
  left: 0;
}

.profile_pic {
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  bottom: 0;
  border-radius: 100%;
  margin-bottom: 8px;
  display: none;
}

.plus_characters {
  z-index: 9;
  position: absolute;
  top: 53%;
  padding-bottom: 5px;
  animation: vanish_characters 8s 1;
  animation-fill-mode: forwards;
}
@keyframes vanish_characters {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.plus_characters > p {
  color: rgb(60, 120, 220);
  text-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  font-family: 'Avenir';
  font-size: 11px;
}
.message_container {
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
.my_message_content,
.message_username {
  margin-bottom: 0;
}

.my_message_content,
.other_message_content {
  font-size: 14px;
  padding: 9px;
  border-radius: 8px;
  color: white;
  animation: fade_in 1s 1, shadow_fade_in 1s 1 1s;
  box-shadow: 0px 0px 2px rgba(0, 0, 30, 0.1);
  animation-fill-mode: forwards;
  border: 3px solid white;
  font-family: 'Helvetica Neue';
}
.hide_content {
  display: none;
}
.my_message_content {
  /*background-color: rgb(250, 70, 70);*/
  background-color: rgb(0, 180, 190);
  border-bottom-right-radius: 0;
  text-align: left;
  color: white;
}
.other_message_content {
  background-color: rgb(60, 120, 220);
  border-bottom-left-radius: 0;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shadow_fade_in {
  from {
    box-shadow: 0px 0px 2px rgba(0, 0, 30, 0.1);
  }
  to {
    box-shadow: 5px 5px 8px rgba(0, 0, 30, 0.1);
  }
}

.user_msg_seperator {
  border-top: 1px solid rgb(240, 240, 240);
  margin-top: 13px;
}
.message_wrap {
  display: inline-block;
  vertical-align: top;
  max-width: 90%;
}
.message_username {
  padding: 4px;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(150, 150, 150);
}
