* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Futura';
}
p {
}
.my_message_class_align {
  text-align: right;
}
.other_message_class_align {
  text-align: left;
}
.message_container {
  padding-bottom: 10px;
  padding-top: 10px;
}
.my_message_content,
.message_username {
  margin-bottom: 0;
}
.my_message_content,
.other_message_content {
  font-size: 16px;
  padding: 9px;
  border-radius: 8px;
  color: white;
  animation: fade_in 1s 1;
  animation-fill-mode: forwards;
  border: 3px solid white;
}
.my_message_content {
  background-color: rgb(140, 190, 190);
  box-shadow: 5px 5px 2px rgba(0, 0, 30, 0.1);
}
.other_message_content {
  background-color: rgb(0, 200, 210);
  box-shadow: 5px 5px 2px rgba(0, 0, 30, 0.1);
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message_wrap {
  display: inline-block;
  vertical-align: top;
  max-width: 90%;
}
.message_username {
  padding: 0;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
